certifi==2018.11.29
chardet==3.0.4
clarifai==2.5.0
configparser==3.5.0
Django==2.1.4
django-cors-headers==2.4.0
future==0.17.1
googleapis-common-protos==1.5.5
grpcio==1.17.1
gunicorn==19.9.0
idna==2.8
jsonschema==2.6.0
protobuf==3.6.1
pytz==2018.7
requests==2.21.0
six==1.12.0
urllib3==1.24.1
